* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --purple: #6b54a0;
    --green: #a9d093;
    --dkgrey: #40464b;
    --blue: #225290;
    --ltblue: #aad3dd;
    --white: #e5e7e4;
    --ltgrey: #acb3aa;
    --grey: #676765;
    --yellow: #d0ac0f;

    /* FONTS */
    --h1-3: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --subtext: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --p: 'Times New Roman', Times, serif;
    --everything-else: ;
    --logo: 'Courier New', Courier, monospace;
    --btn: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--purple);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.main-nav {
    display: flex; /* Flexbox activated */
    justify-content: space-between; /* logo left nav right */
    align-items: center; /* vertically centered */
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--everything-else);
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--green);
    text-decoration: none;
    font-family: var(--logo);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    background-color: var(--dkgrey);
    color: var(--yellow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.79rem;
    font-weight: 800;
    font-family: var(--btn);
    transition: background-color ease 0.5s;
}

.nav-links a:hover {
    background-color: var(--grey);
}

#hero {
    background-image: url(../images/images/threeGuardians2.png);
    background-size: auto 100%;
    background-position: center;
    min-height: 80vh;
    font-family: var(--everything-else);
    overflow: hidden;
    position: relative;
    display: flex;
}

/* Dark overlay on the hero image for text readability */
#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(170, 211, 221, 0.50)
}

.hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 15rem;
}

.sub-text {
    background-color: var(--blue);
    max-width: 25rem;
    border-radius: 0.75rem;
    color: var(--green);
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    font-family: var(--subtext);
    padding: 0.6rem 0;
    margin-bottom: 1rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    background-color: var(--blue);
    color: var(--green);
    font-family: var(--h1-3);
    border-radius: 1rem;
}

.intro-text {
    font-size: 1.4rem;
    color: var(--green);
    margin-bottom: 1.5rem;
    background-color: var(--blue);
    padding: 0.3rem;
    font-weight: 450;
    font-family: var(--p);
}

.btn1 {
    display: inline-block;
    background-color: var(--purple);
    color: var(--white);
    padding: 0.8rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--btn);
    border: 5px solid transparent;
    transition: background-color ease 0.5s;
    transition: border ease ease 0.5s;
}

.btn1:hover {
    background-color: transparent;
    border: 5px solid var(--purple);
}

.btn2 {
    display: inline-block;
    background-color: transparent;
    color: var(--white);
    padding: 0.8rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--btn);
    border: 5px solid var(--purple);
    transition: border ease 0.5s;
    transition: background-color ease 0.5s;
}

.btn2:hover {
    background-color: var(--purple); /* use this for all buttons */
    border: 5px double transparent;
}

.odd-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    margin: 2rem;
}

.odd-card {
    flex: 1 1 220px;
    background: var(--ltblue);
    border: 2px solid var(--dkgrey);
    border-top: 7px solid var(--dkgrey);
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    min-height: 20rem;
    font-size: 1.15rem;
}

.odd-card h3,
.odd-card h5 {
    color: var(--purple);
    margin-bottom: 0.75rem;
    font-family: var(--h1-3);
}

.odd-card ul {
    padding-left: 1.2rem;
}

.odd-card li {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    font-family: var(--logo);
}

.odd-foot {
    background-color: var(--dkgrey);
    padding: 0.7rem 0.5rem;
    border: 2px dashed var(--green);
    border-radius: 0.5rem;
    margin: 1rem 5rem;
}

.even-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    margin: 2rem;
}

.even-card {
    flex: 1 1 220px;
    background: var(--ltgrey);
    border: 2px solid var(--blue);
    border-top: 7px solid var(--blue);
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    min-height: 10rem;
    font-size: 1.15rem;
}

.even-card h3,
.even-card h5 {
    color: var(--purple);
    margin-bottom: 0.75rem;
    font-family: var(--h1-3);
}

.even-card h5 {
    text-align: center;
    text-decoration: underline;
}

.even-card ul {
    padding-left: 1.2rem;
}

.even-card li {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    font-family: var(--logo);
}

.even-foot {
    background-color: var(--blue);
    padding: 0.7rem 0.5rem;
    border: 2px dashed var(--green);
    border-radius: 0.5rem;
    margin: 1rem 5rem;
}

.emoji {
    text-align: center;
    font-size: 3rem;
    color: var(--purple);
    padding: 0.25rem;
}

/* CIA Section */

#cia {
    background-color: var(--blue);
    padding: 1rem;
    margin: 0;
    border-top: 2rem double var(--green);
}

#cia h2 {
    color: var(--green);
    font-family: var(--h1-3);
}

#cia h4 {
    color: var(--yellow);
}

#cia p {
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--subtext);
}

#cia .odd-card p {
    color: var(--blue);
}

.highlight {
    background-color: rgba(153, 102, 204, 0.60);
    padding: 0.35rem 0.5rem;
    border-left: 3px dotted var(--purple);
}

/*Data States Section*/
#ds {
    background-color: var(--dkgrey);
    margin: 0;
    padding: 1rem;
    border-top: 2rem double var(--green);
} 

#ds h2 {
    color: var(--green);
    font-family: var(--h1-3);
}

#ds h4 {
    color: var(--yellow);
}

#ds p {
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--subtext);
}

#ds .even-card p {
    color: var(--blue);
}

/*AAA Section*/
#aaa {
    background-color: var(--blue);
    padding: 1rem;
    margin: 0;
    border-top: 2rem double var(--green);
}

#aaa h2 {
    color: var(--green);
    font-family: var(--h1-3);
}

#aaa h4 {
    color: var(--yellow);
}

#aaa p {
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--subtext);
}

#aaa .odd-card p {
    color: var(--blue);
}

#aaa h3 {
    font-size: 2rem;
}

#aaa h5 {
    font-size: 1.125rem;
}

/*Data States Section*/
#p {
    background-color: var(--dkgrey);
    margin: 0;
    padding: 1rem;
    border-top: 2rem double var(--green);
} 

#p h2 {
    color: var(--green);
    font-family: var(--h1-3);
}

#p h4 {
    color: var(--yellow);
}

#p p {
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--subtext);
}

#p .even-card p {
    color: var(--blue);
}

.h4-even-card {
    color: var(--purple);
    font-family: var(--h1-3);
}

.highlight2 {
    background-color: rgba(153, 102, 204, 0.60);
    display: inline;
    padding: 0.1rem 0.2rem;
    font-family: var(--logo);
    font-weight: 600;
    color: var(--blue);
}

.inlinep {
    display: inline;
}

.pass-table {
    width: 100%;
    margin-top: var(--spacing-md);
    border-radius: 10rem;
    
}

.pass-table th,
.pass-table td {
    padding: 0.6rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

.pass-table th {
    background-color: navy;
    color: var(--green);
    font-family: var(--h1-3);
    font-weight: 600;
}

.pass-table tr:nth-child(even) {
    background-color: var(--blue);
    color: var(--white);
}

.pass-table tr:nth-child(odd) {
    background-color: var(--grey);
    color: var(--white);
}

.pass-table td:hover {
    background-color: var(--purple);
    color: var(--yellow);
    font-weight: 600;
}

.skills-table tr {
    font-family: var(--p);
 }

 .table-top th {
    background-color: var(--purple);
    color: var(--green);
 }

 #skills .inlinepred p{
    display: inline;
    color: red;
}

#skills .inlinepgreen p{
    display: inline;
    color: green;
}

.td-red {
    color: red;
}

.td-orange {
    color: darkorange;
}

.td-yellow {
    color: yellow;
}

.td-ltgreen {
    color: lightgreen;
}

.td-green {
    color: #8db600;
}

/* hash section */

#h {
    background-color: var(--blue);
    margin: 0;
    padding: 1rem;
    border-top: 2rem double var(--green);
} 

#h h2 {
    color: var(--green);
    font-family: var(--h1-3);
}

#h h4 {
    color: var(--yellow);
}

#h p {
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--subtext);
}

#h .odd-card p {
    color: var(--blue);
}

#h h3 {
    font-size: 2rem;
}

#h h5 {
    font-size: 1.125rem;
}

.hash-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dkgrey);
    border-radius: 0.25rem;
    padding: 1rem 5rem;
    margin-top: 1rem;
    border: 2px double var(--green);
}

#h .hash-flex p {
    color: var(--green);
}

#h .hash-step p {
    color: var(--yellow);
}

.hash-step {
    border: 3px dashed var(--ltgrey);
    background-color: var(--grey);
    padding: 1rem 1rem 0.7rem 1rem;
    align-items: center; /* Centers items vertically */
    border-radius: 0.2rem;
    font-size: 1.25rem;
}

.hash-step2 {
    border: 5px dotted var(--grey);
    background-color: var(--ltgrey);
    padding: 1rem 1rem 0.7rem 1em;
    align-items: center; /* Centers items vertically */
    border-radius: 0.2rem;
    font-size: 1.25rem;
}

#h .hash-flex .hash-step2 p {
    color: var(--purple);
    font-weight: 600;
}

#h .hash-flex .arrow p {
    font-size: 5rem;
    color: var(--yellow);
}

#ds h5 {
    text-align: left;
}
